<div class="banner">
  <div class="home-nav d-flex justify-content-around">
    <%# <%= link_to "CREATE A LIST", new_list_path(@list), class: "create-btn", role: "button", data: { bs_toggle:"modal", bs_target: "#createNewList" } %>
    <%= link_to "CREATE A LIST", new_list_path(@list), class: "create-btn", role: "button" %>
    <%= link_to "ALL LISTS", lists_path(@list), class: "create-btn", role: "button" %>
  </div>
  <%= link_to root_path, class: "text-decoration-none" do %>
    <h1>WATCHLIST</h1>
  <% end %>
  <%# <div class="desc">
    <div class="marquee left">
      <h3>Log your favorite films</h3>
      <h3>Write reviews</h3>
    </div>
    <div class="marquee right">
      <h3>Share yourself in film</h3>
      <h3>Create lists</h3>
    </div>
  </div> %>
  <div class="subtitles mb-5">
  </div>
  <%= render "lists/stills_marquee" %>
</div>
