<div class="img-grid row align-items-end flex-shrink-0">
  <div class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "spiritedaway.jpg" %>
    </div>
  </div>
  <div class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "ladybird.jpg" %>
    </div>
  </div>
  <div class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "interstellar.jpg" %>
    </div>
  </div>
  <div class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "coraline.jpg" %>
    </div>
  </div>
  <div class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "littlewomen.jpg" %>
    </div>
  </div>
  <div class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "bottoms.jpg" %>
    </div>
  </div>
  <div aria-hidden="true" class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "spiritedaway.jpg" %>
    </div>
  </div>
  <div aria-hidden="true" class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "ladybird.jpg" %>
    </div>
  </div>
  <div aria-hidden="true" class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "interstellar.jpg" %>
    </div>
  </div>
  <div aria-hidden="true" class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "coraline.jpg" %>
    </div>
  </div>
  <div aria-hidden="true" class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "littlewomen.jpg" %>
    </div>
  </div>
  <div aria-hidden="true" class="col-4 col-lg-2 px-1">
    <div class="img-grid-card">
      <%= image_tag "bottoms.jpg" %>
    </div>
  </div>
</div>
