<div class="card-movie">
  <%= image_tag bookmark.movie.poster_url, alt: "#{bookmark.movie.title}" %>
  <div class="card-movie-infos">
    <div>
      <h2><%= bookmark.movie.title %></h2>
      <p class="overflow-ellipsis"><%= bookmark.movie.overview %></p>
      <p><%= bookmark.movie.rating.round(1) %></p>
    </div>
    <h2 class="card-movie-comment"><%= bookmark.comment %></h2>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Delete bookmark?"} %>
  </div>
</div>
