<div class="card-movie"
    data-movie-id="<%= bookmark.movie.api_id %>"
    data-movie-title="<%= bookmark.movie.title %>"
    data-action="click->expand-card#toggle">
  <div class="flip-card">
    <% if bookmark.movie.poster_url %>
      <%= image_tag bookmark.movie.poster_url, alt: "#{bookmark.movie.title}" %>
    <% else %>
      <%= image_tag "no_image.jpg" %>
    <% end %>
    <div class="view-details">
      <span></span>
    </div>
  </div>
  <div class="movie-details">
    <div class="d-flex align-items-baseline">
      <h3><%= bookmark.movie.title %></h3>
      <span class="date ms-2"><%= bookmark.movie.release_date %></span>
    </div>
    <div class="duration-genres d-flex">
      <p>
        <span class="duration"><%= bookmark.movie.runtime/60 %>h <%= bookmark.movie.runtime % 60 %>m</span> &#8226;
        <% if bookmark.movie.genres.present? %>
          <%= bookmark.movie.genres.join(', ') %>
        <% end %>
      </p>
    </div>
    <%# <p>TMDB <%= bookmark.movie.rating.round(1) %>
    <div class="overview">
      <p><%= bookmark.movie.overview %></p>
    </div>
    <div class="comment">
      <p><%= bookmark.comment.presence || "No comment" %></p>
    </div>
    <%# <%= simple_form_for [@list, @bookmark], url: list_bookmark_path, method: :patch do |f| %>
    </div>
  </div>
