<div class="card-movie"
    data-movie-id="<%= bookmark.movie.api_id %>"
    data-movie-title="<%= bookmark.movie.title %>"
    data-action="click->expand-card#toggle"
  on:click={toggleFlip}
  class:flipped={isFlipped}>
  <div class="flip-card">
    <% if bookmark.movie.poster_url %>
      <%= image_tag bookmark.movie.poster_url, alt: "#{bookmark.movie.title}" %>
    <% else %>
      <%= image_tag "no_image.jpg" %>
    <% end %>
    <div class="view-details">
      <%# <span>VIEW &#10230;</span> %>
      <span></span>
    </div>
  </div>
  <div class="movie-details">
    <h3><%= bookmark.movie.title %></h3>
    <p><%= bookmark.movie.release_date %></p>
    <p><%= bookmark.movie.runtime %></p>
    <% if bookmark.movie.genres.present? %>
      <%= bookmark.movie.genres.join(', ') %>
    <% end %>
    <p><%= bookmark.movie.rating.round(1) %></p>
    <p><%= bookmark.movie.overview %></p>
    <%# <p><%= bookmark.movie.comment.presence || "No comment" %>
    <%# <%= simple_form_for [@list, @bookmark], url: list_bookmark_path, method: :patch do |f| %>
    </div>
  </div>
