<div class="card-list" role="button">
  <p><span>LAST UPDATED</span>&emsp;<%= list.updated_at.strftime("%b %d, %Y") %></p>
  <div class="d-flex justify-content-between align-items-start">
    <div class="description">
      <h2><%= link_to list.name, list_path(list), class: 'text-decoration-none', title: list.name %></h2>
      <p class="ellipsis"><%= list.description %></p>
    </div>
    <% if list.photo.attached? %>
      <div class="list-img-home">
        <%= cl_image_tag list.photo.key %>
      </div>
    <% end %>
  </div>
  <%= link_to "", list_path(list), class: 'card-list-link' %>
  <%= link_to list_path(list), data: {turbo_method: :delete}, class: "delete-btn" do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
</div>
