<div class="form-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="form">
          <h2>NEW LIST</h2>
          <%= simple_form_for @list, url: lists_path, method: :post, html: { multipart: true, data: { controller: "select-movie", action: "submit->select-movie#saveSelectedMovies", select_movie_target: "form" } } do |f| %>
            <%= hidden_field_tag "current_action", @current_action || "new", id: "current-action" %>
            <div data-controller="form-img-preview">
              <div class="form-inputs">
                <%= f.input :name, label: "NAME", input_html: { class: "custom-input" } %>
                <%= f.input :description, label: "DESCRIPTION", input_html: { class: "custom-input" } %>
                <%= f.input :photo, as: :file,
                        label: "COVER IMAGE",
                        input_html: { data: { "form-img-preview-target": "input", action: "form-img-preview#preview" }, accept: "image/*", class: "file-input" }%>
              </div>
              <div class="image-preview" data-form-img-preview-target="preview">
              </div>
            </div>
            <!-- Movie Search Section -->
            <label for="select-movie-input" class="mb-2">ADD MOVIES</label>
            <div class="select-movie-container">
              <div id="selected-movies"
                  class="selected-movies-container"
                  data-select-movie-target="selectedMovies">
                <% if @selected_movie_ids.present? %>
                  <% @selected_movie_ids.each do |movie_id| %>
                    <% movie = Movie.find_by(api_id: movie_id) %>
                    <% if movie %>
                      <span class="movie-tag" data-movie-id="<%= movie_id %>">
                        <%= movie.title %>
                        <button type="button" data-action="click->select-movie#removeMovie" data-movie-id="<%= movie_id %>">x</button>
                      </span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <input type="text"
                      id="select-movie-input"
                      class="form-control"
                      placeholder="Type a movie title..."
                      data-action="keyup->select-movie#search"
              data-select-movie-target="input">
            </div>
            <%= hidden_field_tag "movie_ids", @selected_movie_ids&.join(","), data: { select_movie_target: "hiddenField" } %>
            <div data-select-movie-target="results">
              <%= render 'bookmarks/search_results', movies: @movies %>
            </div>
            <div class="d-flex align-items-center">
              <div class="form-actions">
                <%= f.submit "CREATE LIST", class: 'custom-btn my-4' %>
              </div>
              <%# <%= link_to "BACK", "#", class: "custom-btn my-4 d-inline-block ms-2", role: "button", id: "backLink" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
