<div class="form-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="form">
          <h2>NEW LIST</h2>
          <%= simple_form_for @list, url: lists_path, method: :post, html: { multipart: true, data: { controller: "select-movie", action: "submit->select-movie#saveTemporaryMovies", select_movie_target: "form" } } do |f| %>
            <div data-controller="form-img-preview">
              <div class="form-inputs">
                <%= f.input :name, label: "NAME", placeholder: "name of the list", input_html: { class: "custom-input" } %>
                <%= f.input :description, label: "DESCRIPTION", placeholder: "add a description", input_html: { class: "custom-input" } %>
                <%= f.input :photo, as: :file,
                        label: "COVER IMAGE",
                        input_html: { data: { "form-img-preview-target": "input", action: "form-img-preview#preview" }, accept: "image/*", class: "file-input" }%>
              </div>
              <div class="image-preview" data-form-img-preview-target="preview">
              </div>
            </div>
            <!-- Movie Search Section -->
            <label for="select-movie-input">ADD MOVIES</label>
            <input type="text"
                      id="select-movie-input"
                      class="form-control"
                      placeholder="Type a movie title..."
                      data-action="keyup->select-movie#search"
            data-select-movie-target="input">
            <%= hidden_field_tag "movie_ids", "", data: { select_movie_target: "hiddenField" } %>
            <div data-select-movie-target="results">
              <%= render 'bookmarks/search_results', movies: @movies %>
            </div>
            <div class="d-flex align-items-center">
              <div class="form-actions">
                <%= f.submit "CREATE LIST", class: 'custom-btn' %>
              </div>
              <%= link_to "BACK", lists_path, class: "custom-btn my-4 d-inline-block ms-2", role: "button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
