<div class="list-show">
  <%# <div class="list-info" style="background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(<%= cl_image_path(@list.photo.key) if @list.photo %>
  <div class="list-info d-flex justify-content-around" style="background-image: url(<%= cl_image_path(@list.photo.key) if @list.photo.attached? %>)">
    <div class="list-name d-flex flex-column justify-content-center">
      <h1><%= @list.name %></h1>
      <p><%= @list.description %></p>
    </div>
  </div>
  <div class="add-movie text-center" data-controller="show-search">
    <button type="button"
            class="add-bookmark-btn"
            data-action="click->show-search#displaySearch mouseenter->show-search#expand mouseleave->show-search#shrink"
      data-show-search-target="addButton">
      <span class="btn-icon"><i class="fa-solid fa-plus"></i></span>
      <span class="btn-text">ADD MOVIE</span>
    </button>
    <div class="search-section" data-show-search-target="searchSection">
      <div class="select-movie-container d-flex flex-column align-content-center justify-content-start" data-controller="select-movie">
        <input type="text"
            id="select-movie-input"
            class="form-control search-movie-input-show my-2"
            data-action="keyup->select-movie#search"
        data-select-movie-target="input"
        data-show-search-target="searchInput">
        <%= hidden_field_tag "movie_ids", params[:movie_ids]&.join(","), data: { select_movie_target: "hiddenField" } %>
        <%= hidden_field_tag "current_action", action_name, id: "current-action" %>
        <div data-select-movie-target="results">
          <%= render 'bookmarks/search_results', movies: @movies %>
        </div>
      </div>
      <button type="button"
            id="close-search-btn"
            class="add-bookmark-btn ms-2"
            data-action="click->show-search#closeSearch">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div class="bookmarks-container">
    <div class="list-bookmarks movie-cards d-flex flex-wrap align-content-start">
      <%# <% @list.bookmarks.each do |bookmark| %>
        <% @bookmarks.each do |bookmark| %>
          <%= render "lists/card_movie", bookmark: bookmark %>
          <%= render "lists/modal", bookmark: bookmark %>
        <% end %>
      </div>
    </div>
    <%# </div> %>
    <%# <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
    <%# </div> %>
  </div>
