<div class="movie-search-card d-flex flex-column justify-content-between" data-movie-id="<%= movie.api_id %>" data-movie-title="<%= movie.title %>">
  <% if movie.poster_url %>
    <%= image_tag movie.poster_url %>
  <% else %>
    <%= image_tag "no_image.jpg" %>
  <% end %>
  <div class="search-card-title">
    <h3><%= movie.title %></h3>
  </div>
  <button type="button"
          class="add-movie-btn"
          data-action="click->select-movie#addMovie"
    data-movie-id="<%= movie.api_id %>"
    data-movie-title="<%= movie.title %>"
    data-list-id="<%= list.id %>"
    >
    ADD
  </button>
</div>
